In [6]:
# Python program to implement
# index attribute in a dataframe object
import pandas as pd
 
# creating a 2D dictionary
dict = {"Student": ["Patrick", "You",
                    "Me", "Other"],
        "Grades": [5, 10, 1, 7,],
        "Topics": ["MLOps", "Pandas",
                   "Tensorflow", "Other"]}
 
# creating a DataFrame
df = pd.DataFrame(dict)
 
# printing this DataFrame on the
# output screen
display(df)

   Student  Grades      Topics
0  Patrick       5       MLOps
1      You      10      Pandas
2       Me       1  Tensorflow
3    Other       7       Other

## Attributes

The attributes of the dataframe include:

* index
* columns
* axes
* dtypes
* size
* shape
* ndim
* empty
* T
* values

In [9]:
print("index attribute: ",df.index)
print("columns attribute: ",df.columns)
print("axes attribute: ",df.axes)
print("dtypes attribute: ",df.dtypes)
print("size attribute: ",df.size)
print("shape attribute: ",df.shape)
print("ndim attribute: ",df.ndim)
print("empty attribute: ",df.empty)
print("T (transpose) attribute: ",df.T)
print("values attribute: ",df.values)

index attribute:  RangeIndex(start=0, stop=4, step=1)
columns attribute:  Index(['Student', 'Grades', 'Topics'], dtype='object')
axes attribute:  [RangeIndex(start=0, stop=4, step=1), Index(['Student', 'Grades', 'Topics'], dtype='object')]
dtypes attribute:  Student    object
Grades      int64
Topics     object
dtype: object
size attribute:  12
shape attribute:  (4, 3)
ndim attribute:  2
empty attribute:  False
T (transpose) attribute:                 0       1           2      3
Student  Patrick     You          Me  Other
Grades         5      10           1      7
Topics     MLOps  Pandas  Tensorflow  Other
values attribute:  [['Patrick' 5 'MLOps']
 ['You' 10 'Pandas']
 ['Me' 1 'Tensorflow']
 ['Other' 7 'Other']]