In [5]:
# Python program to implement
# index attribute in a dataframe object
import pandas as pd
 
# creating a 2D dictionary
dict = {"Student": ["Patrick", "You",
                    "Me", "Other"],
        "Grades": [5, 10, 1, 7,],
        "Topics": ["MLOps", "Pandas",
                   "Tensorflow", "Other"]}
 
# creating a DataFrame
df = pd.DataFrame(dict)
 
# printing this DataFrame on the
# output screen
display(df)
 
# Implementing index attribute on
# this DataFrame
print(df.index)

   Student  Grades      Topics
0  Patrick       5       MLOps
1      You      10      Pandas
2       Me       1  Tensorflow
3    Other       7       Other

RangeIndex(start=0, stop=4, step=1)